{% extends "base.html" %}

{% block title %}Jugador - {{jugador.username.capitalize}}{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5 text-center">
          <h1>Bienvenido {{jugador.username}}</h1>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
          </form>
      </div>
      <div class="col mt-5 text-center">
          <div class="row">
            {% for juego in juegos %}
                <div class="col-lg-4 mt-3">
                    <div class="card">
                        {% with name=juego.nombre.split|join:'_'|lower %}
                        <img src='{% static 'img/juegos/'|add:name|add:'/'|add:name|add:'_mini.png' %}' alt="{{ juego.nombre }}" style="width:100%;">
                        {% endwith %}

                        <div class="card-body">
                            <h5 class="card-title">{{ juego.nombre }}</h5>
                                {% if juego.id == 1 %}
                                    <p>Detalles de tus datos por juego:</p>
                            {{ participaciones_por_juego}}
                                    <p>Circuitos superados: {{ participaciones.detalles.circuitos }}</p>
                                    <p>Tiempo total: {{ participaciones.detalles.tiempo_total }}</p>
                                {% elif juego.id == 2 %}
                                    <p>Detalles de tus datos:</p>
                                    <p>Nivel: {{ participaciones.detalles.nivel }}</p>
                                    <p>Puntos: {{ participaciones.detalles.puntos }}</p>
                                    <p>Kills: {{ participaciones.detalles.kills }}</p>
                                    <p>Killed: {{ participaciones.detalles.killed }}</p>
                                {% elif juego.id == 3 %}
                                    <p>Detalles de tus datos</p>
                                    <p>Nivel: {{ participaciones.detalles.nivel }}</p>
                                    <p>Pantalla: {{ participaciones.detalles.pantalla }}</p>
                                {% else %}
                                    <p>No estás inscrito en este juego.</p>
                                    <a href="{% url 'inscribir-juego' juego.id %}" class="btn btn-light mx-auto">Activar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
      </div>
    </div>
 </div>
{% endblock %}